<%- include("partials/header"); -%>

<div class="TSFBANK">
	<div class="container">
		<div class="TSFBANK-inner">
			<div class="TSFBANK-left">
               <h2>DO YOUR MONEY TRANSFER HERE...</h2>
               <h6>For making your transaction click on GET STARTED</h6>
               <a href="/customers">
               <button type="button" class="btn btn-grad">GET STARTED</button></a>
			</div>
			<div class="TSFBANK-right">
				<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
					<ol class="carousel-indicators">
					  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
					  <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
					</ol>
					<div class="carousel-inner">
					  <div class="carousel-item active">
						<img class="d-block w-100" src="https://www.investopedia.com/thmb/JgsnbK_K4wNr0DO0j6G6wtTbKtQ=/680x0/filters:no_upscale():max_bytes(150000):strip_icc()/bank-5bfc2b4846e0fb00260b17d9.jpg" alt="First slide">
					  </div>
					  <div class="carousel-item">
						<img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT--oEFyl0Cx8eZMI3gcDpH3zcaul7LdFpzkA&usqp=CAU" alt="Second slide">
					  </div>
					  <div class="carousel-item">
						<img class="d-block w-100" src="https://png.pngtree.com/thumb_back/fh260/background/20190223/ourmid/pngtree-fresh-bank-card-machine-advertising-background-backgroundblue-backgroundmanmoneyhand-paintedatmsimplemachine-image_83842.jpg" alt="Third slide">
					  </div>
					  <div class="carousel-item">
						<img class="d-block w-100" src="https://images.cnbctv18.com/wp-content/uploads/2021/03/banking1-768x432.jpg" alt="fourth slide">
					  </div>
					  <div class="carousel-item">
						<img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1j_cEzjt8ZGSeByJ61f4h8YjTeoPRcQ68IbH_VrPHq9a4Odm7C5peLXBxeVHvMoRE_II&usqp=CAU" alt="fifth slide">
					  </div>
					</div>
					<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
					  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
					  <span class="sr-only">Previous</span>
					</a>
					<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
					  <span class="carousel-control-next-icon" aria-hidden="true"></span>
					  <span class="sr-only">Next</span>
					</a>
				  </div>
			</div>
		</div>
	</div>
</div>

<div class="features">
	<div class="container">
		<div class="features-inner">
		<div class="features-inner-one">
			<i class="fas fa-rupee-sign"></i>
			<div>
                <h5>TRANSFER MONEY</h5>
			    <p>Easy and Fast Transfer</p>
            </div>
		</div>
		<div class="features-inner-one">
			<i class="fas fa-search-dollar"></i>
			<div>
                <h5>SECURE</h5>
			    <p>Highly secure</p>
            </div>
		</div>
		<div class="features-inner-one">
			<i class="fas fa-heart"></i>
            <div>
                <h5>MOST TRUSTED</h5>
			    <p>Our trust is our power</p>
            </div>
		</div>
		</div>
	</div>
	
</div>
<div class="profile">
		<div class="container">
			<div class="profile-inner">
				<h3>Created by: <span>Aum Gohel<span></h3>
			</div>
		</div>
	</div>

<%- include("partials/footer"); -%>